<h1>Edit Detalle</h1>
<form action="http://localhost:4306/app/detalle/actualizar/{{detalle.idregistro}}" method="post"  >
    <div class="form-group col-12">
        <label>Cantidad</label>
        <input type="number" class="form-control" name="Cantidad" value="{{detalle.Cantidad}}" required class="">
    </div>
    <div class="form-group col-12">
        <label>Numero Factura</label>
        <input type="number" class="form-control" name="NumeroFactura" value="{{detalle.NumeroFactura}}"  required class="">
    </div>
    <div class="form-group col-12">
        <label>Codigo Producto</label>
        <input type="number" class="form-control" name="CodigoProducto" value="{{detalle.CodigoProducto}}"  required class="">
    </div>
    <div class="form-group col-12">
        <label>Precio</label>
        <input type="number" class="form-control" name="Precio" value="{{detalle.Precio}}"  required class="">
    </div>
    <div class="form-group col-12">
        <label>Precio Original</label>
        <input type="number" class="form-control" name="preciooriginal" value="{{detalle.preciooriginal}}"  required class="">
    </div>
    <div class="form-group col-12">
        <label>Grabado Exento</label>
        <input type="number" class="form-control" name="grabadoExento" value="{{detalle.grabadoExento}}"  required class="">
    </div>
    <div class="form-group col-12">
        <label>Impuesto</label>
        <input type="number" class="form-control" name="impuesto" value="{{detalle.impuesto}}"  required class="">
    </div>
    <button class="btn btn-success m-2 col-2" type="submit" >Actualizar Detalle</button>
    <input type="button" class="btn btn-info m-2 col-2" onclick="history.back()" name="volver atrás" value="volver atrás">
    <script>
        function alerta(){
        var cantidad = document.getElementById("cantidad").value; 
        var numerofactura = document.getElementsByName("numerofactura")[0].value;
        var codigo = document.getElementsByName("codigo")[0].value;
        var precio = document.getElementsByName("precio")[0].value;
    
    
    
    
    
    if ((cantidad == "") || (numerofactura == "") || (codigo == "") || (precio == "") ) {  //COMPRUEBA CAMPOS VACIOS
        alert("Los campos no pueden quedar vacios");
        return true;
    }else{
        alert("Registro Guardado Exitosamente")
    }
        
    }
    </script>

    
</form>